<h1 id= "team-heading"><%= @team.name %> (
  <%= @team.wins %>-
  <%= @team.losses %>
  <% unless @team.ties==0 %>
    -<%= @team.ties %> )
  <% end %>
</h1>
</h1>
<div id="one-teams-games">
  <table>
    <% @team.games.each do |game| %>
      <tr>
        <td class="date-column"><%= game.date.strftime("%m/%d") %></td>
        <td><%= game.away_team.abbr %></td><td> <%= game.away_team_runs%>,</td>
        <td><%= game.home_team.abbr %></td><td> <%= game.home_team_runs%> </td>
      </tr>
    <% end %>
  </table>
</div>
