<div id="scores" class="content-section">
  <h2>Results</h2>
  <div>(click game to edit score)</div><br>
    <% one_days_score = [] %>
    <% @past_dates.each do |pd| %>
      <% one_days_score = @scores.select{ |g| g.date == pd} %>
      <table class="one-days-games size-<%=one_days_score.count%>">
        <th colspan=3>
          <%= pd.strftime("%m-%d-%Y") %>
        </th>
        <tr>
          <% one_days_score.each do |score| %>
            <td>
              <div class="one-game">
                <%= link_to edit_game_path(score) do %>
                  <table>
                    <tr>
                      <td><%= score.away_team.abbr %></td>
                      <td><%= score.away_team_runs %></td>
                    </tr>
                    <tr>
                      <td><%= score.home_team.abbr %></td>
                      <td><%= score.home_team_runs %></td>
                    </tr>
                  </table>
                <% end %>
              </div>
            </td>
          <%end %>
        </tr>
      </table>
    <%end %>
  </div>
</div>
