<div class='content-section'>
  <div class = 'edit-game'>
    <%= form_for @game do |f| %>
    <%= f.datetime_select :date,  :order => [:month, :day, :year], :discard_year => true,
                                  :ampm => true, :minute_step => 5, :start_hour => 18, :end_hour => 21 %><br>
    <%= f.label :away_team_runs, @game.away_team ? @game.away_team.abbr : "Team Not Determined" %>:
    <%= @game.away_team && @game.home_team ? f.select(:away_team_runs, (0..40), :include_blank => true) : ""%><br />

    <%= f.label :home_team_runs, @game.home_team ? @game.home_team.abbr : "Team Not Determined" %>:
    <%= @game.away_team && @game.home_team ? f.select(:away_team_runs, (0..40), :include_blank => true) : ""%><br />

    <%= f.submit @game.away_team && @game.home_team ? "Update Game" : "Update Date/Time"%>
  </div>
<% end %>
</div>
