<div id= "bracket" class = "content-section tourney" >
  Tournament Schedule:
  <table id="bracket" class="bracket">
    <tr>
      <th>Play-In</th>
      <th>Round One</th>
      <th>Round Two</th>
      <th>Round Three</th>
      <th>Round Four</th>
    </tr>
    <tr>
      <td>
        <%= render '/games/one_game', :game => @tourney_games[0] %>
      </td>
      <td rowspan="1">
        <%= render '/games/one_game', :game => @tourney_games[4] %>
      </td>
      <td rowspan="2">
        <%= render '/games/one_game', :game => @tourney_games[8] %>
      </td>
      <td rowspan="4">
        <%= render '/games/one_game', :game => @tourney_games[11] %>
      </td>
      <td rowspan="6">
        <%= render '/games/one_game', :game => @tourney_games[15] %>
      </td>
      <td rowspan="6">if necessary =></td>
      <td rowspan="6">
        <%= render '/games/one_game', :game => @tourney_games[16] %>
      </td>
    </tr>
    <tr>
      <td rowspan="3"></td>
      <td rowspan="1">
        <%= render '/games/one_game', :game => @tourney_games[1] %>
      </td>
    </tr>
    <tr>
      <td rowspan="1">
        <%= render '/games/one_game', :game => @tourney_games[2] %>
      </td>
      <td rowspan="2">
        <%= render '/games/one_game', :game => @tourney_games[7] %>
      </td>
    </tr>
    <tr>
      <td rowspan="1">
        <%= render '/games/one_game', :game => @tourney_games[3] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= render '/games/one_game', :game => @tourney_games[5] %>
      </td>
      <td>
        <%= render '/games/one_game', :game => @tourney_games[9] %>
      </td>
      <td>
        <%= render '/games/one_game', :game => @tourney_games[13] %>
      </td>
      <td rowspan="2">
        <%= render '/games/one_game', :game => @tourney_games[14] %>
      </td>
    </tr>
    <tr>
      <td>
        <%= render '/games/one_game', :game => @tourney_games[6] %>
      </td>
      <td>
        <%= render '/games/one_game', :game => @tourney_games[10] %>
      </td>
      <td>
        <%= render '/games/one_game', :game => @tourney_games[13] %>
      </td>
    </tr>
  </table>
</div>
