<!DOCTYPE html>
<html>
<head>
  <title>Softball | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render '/layouts/nav' %>
  <div id="wrapper">
    <div id="content">
      <%= yield %>
    </div>
    <div id="image-wrapper">
    </div>
  </div>
</body>
</html>
